# Mission

Still using this dataset: http://bit.ly/imdbratings
- Which actor is mentioned the most often?

In [ ]:
import pandas as pd

link = 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv'

df_actor = pd.read_csv(link,sep=',')
df_actor.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
df_actor['actors_list'] = df_actor['actors_list'].apply(eval)
df_actor.head()

   star_rating  ...                                      actors_list
0          9.3  ...        [Tim Robbins, Morgan Freeman, Bob Gunton]
1          9.2  ...           [Marlon Brando, Al Pacino, James Caan]
2          9.1  ...       [Al Pacino, Robert De Niro, Robert Duvall]
3          9.0  ...    [Christian Bale, Heath Ledger, Aaron Eckhart]
4          8.9  ...  [John Travolta, Uma Thurman, Samuel L. Jackson]

[5 rows x 6 columns]

In [ ]:
df_actor = df_actor.explode('actors_list')
df_actor

     star_rating                     title  ... duration       actors_list
0            9.3  The Shawshank Redemption  ...      142       Tim Robbins
0            9.3  The Shawshank Redemption  ...      142    Morgan Freeman
0            9.3  The Shawshank Redemption  ...      142        Bob Gunton
1            9.2             The Godfather  ...      175     Marlon Brando
1            9.2             The Godfather  ...      175         Al Pacino
..           ...                       ...  ...      ...               ...
977          7.4               Poltergeist  ...      114  Heather O'Rourke
977          7.4               Poltergeist  ...      114   Craig T. Nelson
978          7.4               Wall Street  ...      126     Charlie Sheen
978          7.4               Wall Street  ...      126   Michael Douglas
978          7.4               Wall Street  ...      126      Tamara Tunie

[2937 rows x 6 columns]

In [ ]:
df_actor['actors_list'].value_counts().idxmax()

'Robert De Niro'